:root {
  --main-color: #263238;
  --second-color: #8f95a5;
  --third-color: #000000;
  --fourth-color: #2a3246;
  --first-background: #fff;
  --second-background: #f5f5f5;
  --pricing: #546269;
  --pricing-background-color: #eeeeee;
}

/* -----------------BODY----------------- */
.body {
  color: var(--main-color);
  background-color: var(--first-background);

  font-family: "Poppins", sans-serif;
  text-align: left;
}

.container {
  width: 1378px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  /* outline: 1px solid red; */
}

.section {
  padding-bottom: 180px;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border-radius: 10px;
}

/* -----------------HEADER----------------- */
.page-header {
}

.contaoner-header {
  align-items: center;
  display: flex;
  height: 180px;
}

.logo {
  color: var(--third-color);

  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;

  padding: 63px 0;
}
.logo-style {
  color: var(--second-color);
}
.site-nav {
}
.nav-list {
  display: flex;
  gap: 50px;

  margin-left: 236px;
  padding: 75px 0;
}
.list {
}
.nav-list-item {
}
.nav-list-link {
  color: var(--main-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
}

.header-button {
  color: var(--third-color);

  height: 70px;
  width: 312px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;

  margin-left: auto;

  border: 2px solid #263238;
}

/* -----------------FOOTER----------------- */

.footer {
}

.footer-logo {
  padding-top: 22px;
  padding-bottom: 77px;
}
.container-footer {
  display: flex;
  border-top: 1px solid #c4c4c4;
}
.logo {
}
.logo-style {
}
.footer-list {
  display: flex;
  gap: 80px;

  margin-left: auto;
}
.footer-item {
  padding-top: 31px;
  padding-bottom: 86px;
}
.footer-link {
  color: var(--second-color);

  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -----------------MAIN----------------- */
/* -----------------HERO----------------- */
.hero {
}

.container-hero {
  display: flex;
}

.subcontainer-hero {
  /* outline: 1px solid red; */
  height: 548px;
  width: 540px;
}

.hero-title {
  color: var(--third-color);

  font-size: 64px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0em;

  height: 240px;
  width: 386px;

  margin: 0;
  margin-bottom: 40px;
}
.hero-subtitle {
  color: var(--second-color);

  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;

  margin: 0;
  margin-bottom: 60px;
}

.button-hero {
  color: #ffffff;
  background-color: var(--main-color);

  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;

  height: 100px;
  width: 426px;
}

.hero-picture {
  margin-left: auto;
}
.hero-svg {
}

/* -----------------SKILLS----------------- */
.skills {
}

.skills-title {
  display: block;
  color: var(--third-color);

  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
}

.skills-list {
  display: flex;
  gap: 30px;
}

.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  /* outline: 1px solid red; */

  gap: 30px;
  width: 882px;
}

.skills-list-card-container {
  margin-left: 18px;
}

.skills-list-last-card-container {
  margin-top: 32px;
}

.skills-list-item {
  background-color: var(--second-background);
  border-radius: 10px;
}

.skills-list-first-item {
  height: 947px;
  width: 426px;
}
.skills-list-second-item {
  height: 579px;
  width: 426px;
}
.skills-list-third-item {
  height: 579px;
  width: 426px;
}
.skills-list-fourth-item {
  display: flex;

  height: 338px;
  width: 882px;
}

.skills-list-picture:not(:last-child) {
  margin-bottom: 24px;
  margin-left: 18px;
}

.skills-list-picture {
  margin-left: 114px;
  margin-right: 18px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.skills-list-title {
  color: var(--third-color);

  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;

  margin-bottom: 20px;
}
.slills-list-subtitle {
  color: var(--second-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;

  margin-bottom: 30px;
}

.skills-list-first-subtitle {
  height: 192px;
  width: 347px;
}
.skills-list-second-subtitle {
  height: 72px;
  width: 340px;
}
.skills-list-third-subtitle {
  height: 72px;
  width: 359px;
}
.skills-list-fourth-subtitle {
  height: 72px;
  width: 324px;
}

.skill-list-button {
  color: #fff;
  background-color: var(--main-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;

  height: 60px;
  width: 218px;
  border-radius: 10px;
}
/* -----------------ANOUT US----------------- */

.about-container {
  display: flex;
}

.about-card {
}

.about-title {
  color: var(--third-color);

  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;

  text-align: start;
}

.about-subtitle {
  color: var(--second-color);

  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;

  height: 216px;
  width: 652px;

  margin-bottom: 30px;
}
.about-list {
  display: flex;
  gap: 150px;
}

.about-list-item {
}

.about-list-item-container {
}

.about-list-count {
  color: var(--fourth-color);

  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
}
.about-list-item-text {
  color: var(--second-color);

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;

  height: 60px;
  width: 108px;
}

.about-picture {
  margin-left: auto;
}

/* -----------------PRICING----------------- */
.pricing-title {
  color: var(--third-color);

  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
}
.pricing-list {
  display: flex;
  gap: 30px;
}
.pricin-list-item {
}

.pricing-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 320px;
  width: 426px;
}

.pricin-list-title {
  color: var(--main-color);

  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0em;

  margin-bottom: 20px;
  margin-top: 50px;
}
.pricing-list-subtitle {
  color: var(--second-color);

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;

  height: 90px;
  width: 426px;
}

.pricing-price {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 45px;
  width: 260px;

  border-radius: 5px;

  background-color: var(--pricing-background-color);
}

.pricing-list-price {
  color: var(--main-color);

  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
}
.pricing-list-interval {
  color: var(--pricing);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
}

/* -----------------CONTACT US----------------- */
.contact {
}
.section {
}

.contact-container {
  display: flex;
}

.contact-card {
}

.contact-title {
  text-align: start;

  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;

  color: var(--third-color);
}
.contact-subtitle {
  color: var(--second-color);

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;

  height: 90px;
  width: 654px;
}
.contact-button {
  color: #fff;
  background-color: var(--main-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;

  height: 70px;
  width: 312px;
}
