:root {
}

/* -----------------BODY----------------- */
.body {
}

.section-title {
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* -----------------HEADER----------------- */
.page-header {
}
.logo {
}
.logo-style {
}
.site-nav {
}
.nav-list {
}
.list {
}
.nav-list-item {
}
.nav-list-link {
}
.header-button {
}

/* -----------------FOOTER----------------- */

/* -----------------MAIN----------------- */
/* -----------------HERO----------------- */
.hero {
}
.section {
}
.hero-title {
}
.hero-subtitle {
}
.button-hero {
}
.hero-svg {
}

/* -----------------SKILLS----------------- */
.Skills {
}
.section {
}
.skills-list {
}
.skills-list-item {
}
.skill-list-title {
}
.slill-list-subtitle {
}
.skill-list-button {
}

/* -----------------ANOUT US----------------- */
.about-title {
}
.section-title {
}
.about-subtitle {
}
.about-list {
}
.list {
}
.about-list-item {
}
.about-list-item-text {
}

/* -----------------PRICING----------------- */
.pricing-title {
}
.pricing-list {
}
.pricin-list-item {
}
.pricin-list-title {
}
.pricing-list-subtitle {
}
.pricing-list-price {
}
.pricing-list-interval {
}

/* -----------------CONTACT US----------------- */
.contact {
}
.section {
}
.contact-title {
}
.contact-subtitle {
}
.contact-button {
}
